<link rel="stylesheet" href="/static/style.css">
{% include "login_box.html" %}

<h2>Keskustelualueet:</h2>

{% for topic in topics %}
<div id="thread-box">
<a href="/topics/{{ topic.id }}"><p><b>{{ topic.name }}</b></p></a>
<p><i>{{ topic.description }}</i></p>

{% if is_admin %}
<form action="/delete_topic/{{ topic.id }}" method="POST">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	<input type="submit" value="Poista">
</form>
{% endif %}
</div>
{% endfor %}


{% if is_admin %}
<h1>Luo uusi keskustelualue</h1>
<form action="/create_topic" method="POST">
	Nimi:
	<input type="text" name="name">
	<br>
	Kuvaus:
	<input type="text" name="desc">
	<br>
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	<input type="submit" value="Luo keskustelualue">
</form>
{% endif %}

