<link rel="stylesheet" href="/static/style.css">
<title>Kirjaudu sisään</title>

{% if user == None %}
<p><b>Kirjaudu sisään:</b></p>

<form action="/login" method="POST">
	Nimi:
	<input type="text" name="username">
	<br>
	Salasana:
	<input type="text" name="password">
	<br>
	<input type="submit" value="Kirjaudu">
</form>

<form action="/register" method="GET">
	<input type="submit" value="Rekisteröidy">
</form>

{% else %}
<p>Tervetuloa {{ user }}</p>
<a href="/logout"><p>Kirjaudu ulos</p></a>
{% endif %}

<h2>Keskustelualueet:</h2>

{% for topic in topics %}
<a href="/topics/{{ topic.id }}"><p><b>{{ topic.name }}</b></p></a>
<p><i>{{ topic.description }}</i></p>

{% if is_admin %}
<p> Poista </p>
{% endif %}

{% endfor %}

{% if is_admin %}
<h1>Luo uusi keskustelualue</h1>
{% endif %}
