<link rel="stylesheet" href="/static/style.css">
{% if user == None %}

<div id="login">

<p><b>Kirjaudu sisään:</b></p>

<form action="/login" method="POST">
	Nimi:
	<input type="text" name="username">
	<br>
	Salasana:
	<input type="text" name="password">
	<br>
	<input type="hidden" name="redirect" value="{{ request.path }}">
	<input type="submit" value="Kirjaudu">
</form>

<form action="/register" method="GET">
	<input type="submit" value="Rekisteröidy">
	<input type="hidden" name="redirect" value="{{ request.path }}">
</form>
</div>
{% else %}

<p>Tervetuloa {{ user }}</p>
<a href="/logout"><p>Kirjaudu ulos</p></a>

{% endif %}


