<link rel="stylesheet" href="/static/style.css">
<title>ketju</title>


<p>
<a href="/">Etusivu</a> /
<a href={{topic.url}}>{{ topic.name }}</a> /
{{ thread_name }}
</p>


<p><h1>{{ thread_name }}</h1></p>
{% for post in posts %}
<div id="post-body">
	<p id="post-header">
		{{ post.poster }} @ {{ post.time }}
		
		{% if post.can_delete %}
		<form action="/delete_post/{{ post.id }}" method="POST">
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
			<input type="submit" value="Poista viesti">
		</form>
		{% endif %}
	</p>
	<p id="post-msg">{{ post.content }}</p>

	{% if post.file != None %}
		<br>
		<p>
			<i>
				<a href="{{ post.file }}">Avaa liitetiedosto</a>
			</i>
		</p>
	{% endif %}
</div>
<br>
{% endfor %}

{% if logged_in %}
<h2>Uusi viesti</h2>

<form action="/create_post/{{ thread_id }}" method="POST" enctype="multipart/form-data">
	Viesti:
	<br>
	<textarea name="message" rows="4" cols="40"></textarea>
	<br>
	Upotettava tiedosto:
	<input type="file" id="postfile" name="post_file">
	<br>
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	<input type="submit" value="Lähetä">
</form>
{% else %}
<p>Osallistu keskusteluun kirjautumalla sisään.</p>
{% include "login_box.html" %}
{% endif %}
