<link rel="stylesheet" href="/static/style.css">
<title>Ketjut</title>

<a href="/">Etusivu</a> /
{{ topic_name }}

<h2>Keskustelut:</h2>

{% for thread in threads %}
<div id="thread-box">

<a href="/thread/{{thread.id}}"
<p>{{ thread.name }}</p>
</a>
<p>Viestejä: {{ thread.post_count }}</p>

<p>
Uusin viesti:
{{ thread.latest_post.time }} Käyttäjältä
<b>{{ thread.latest_post.poster }}</b>
</p>

{% if is_admin %}
<form action="/delete_thread/{{ thread.id }}" method="POST">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	<input type="hidden" name="redirect" value="{{ request.path }}">
	<input type="submit" value="Poista keskusteluketju">
</form>

{% endif %}

</div>
{% endfor %}

<hr>
{% if user != None %}
<h2>Uusi keskusteluketju</h2>
<form action="/create_thread/{{topic_id}}" method="post" enctype="multipart/form-data">
	Otsikko:
	<input type="text" name="thread_name">
	<br>
	Aloitusviesti:
	<br>
	<textarea name="message" rows="4" cols="40"></textarea>
	<br>
	Upotettava tiedosto:
	<input type="file" id="postfile" name="post_file">
	<br>
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	<input type="submit" value="Luo keskusteluketju">
</form>
{% else %}
<p>Kirjaudu sisään luodaksesi keskusteluketjuja.</p>
{% include "login_box.html" %}
{% endif %}
