textarea {
	resize: none;
}

#titlebar {
	height: 220px;
	padding: 0px 100px;
	background-color: #F04040;
}

#title-text{
	color: #FFFFFF;
	margin: 70px 0px;
	font-size: 50px;
	float: left;
}

#post-body {
	padding: 10px 10px;
	background-color: #F0F0F0;
	border: 2px solid #808080;
	width: 90vw;
}

#post-header {
	padding: 5px 5px;
	background-color: #E0E0E0;
	text-align: center;

}

#post-msg {
	word-wrap: break-word;
	white-space: pre-wrap;
}

#thread-box {
	margin: 5px 5px;
	padding: 10px 40px;
	background-color: #E0E0E0;
}

#login {
	display: block;
	float: right;
	padding: 5px 20px;
	background-color: #FFB0A0;
	width: 240px;
	height: 210px;
}


#register-box {
	padding: 5px 20px;
	margin: 10px auto;
	background-color: #E0E0E0;
	width: 240px;
}


